<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Expert</title>
</head>
<body>
  <h1>New Expert</h1>
  <%= form_with scope: :expert, url: experts_path, local: true do |form| %>
  <% if @expert != nil && @expert.errors.any? %>
    <div id="error">
      <strong>
        Data errors:
      </strong>
      <ul>
        <% @expert.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %>:
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :website %>:
    <%= form.text_field :website %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
</body>
</html>