<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= @expert.name %></title>
</head>
<body>
<p>
  <strong>Name:</strong>
  <%= @expert.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @expert.website %>
</p>

<p>
  <strong>Short Website:</strong>
  <%= @expert.short_website %>
</p>
<br>
<table>
  <tr><th>Friendships</th><th>Other Experts</th></tr>
  <tr>
    <td valign="top">
      <% @frineds.each do |item| %>
      <%= link_to item.name, expert_path(item) %><br>
      <% end %>
    </td>
    <td>
      <%= form_with scope: :expert, url:  edit_expert_path, html: {method: "get"}, local: true do |form| %>

        <% other_experts_array =  @other_experts.all.map { |item| [item.name, item.id] } %>
        <%= select_tag('new_friend', options_for_select(other_experts_array)) %>
        <p>
          <%= form.submit "Add" %>
        </p>
      <% end %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <%= form_with scope: :expert, url: experts_path + '/' + @expert.id.to_s, html: {method: "get"}, local: true do |form| %>
        Introduction by topic:
        <%= form.text_field :term %>  <%= form.submit "Search" %>
      <% end %>
    </td>
  </tr>
</table>
<% if @search_results != nil %>
  <p><strong>Introduction by topic: <%= @term  %></strong> results<br>
  <%  @search_results.each do |result|  %>
    <%= result.html_safe  %><br>
  <% end %>
  </p>
<% end %>

Topics<br>
<% @topics.each do |topics| %>
  <%= topics.text.html_safe  %><br>
<% end %>
</body>
</html>